@devbyaj:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${'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'} 
# Just added the token to access my personal UI library,
# I know this is not a good practice but just added so that you can run it on local otherwise dependency installation will fail